<h1><u>IF Directive</u></h1>
<h3 *ngIf="check" style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error est maxime
    architecto eum. Itaque hic
    unde non ullam sit, quasi eaque sapiente culpa odio officiis ab. Ex a expedita labore!</h3>
<h3 *ngIf="check; then tBlcok else eBlcok" style="color: blue;"></h3>
<ng-template #tBlcok>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
    quidem ex consectetur delectus sint! Atque inventore non error, dicta deleniti, culpa ratione aut delectus, eum
    laboriosam soluta quidem excepturi temporibus.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
    quidem ex consectetur delectus sint! Atque inventore non error, dicta deleniti, culpa ratione aut delectus, eum
    laboriosam soluta quidem excepturi temporibus.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
    quidem ex consectetur delectus sint! Atque inventore non error, dicta deleniti, culpa ratione aut delectus, eum
    laboriosam soluta quidem excepturi temporibus.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
    quidem ex consectetur delectus sint! Atque inventore non error, dicta deleniti, culpa ratione aut delectus, eum
    laboriosam soluta quidem excepturi temporibus.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
    quidem ex consectetur delectus sint! Atque inventore non error, dicta deleniti, culpa ratione aut delectus, eum
    laboriosam soluta quidem excepturi temporibus.
</ng-template>
<ng-template #eBlcok>
    <h4>Else Block</h4>
    <h4>Else Block</h4>
    <h4>Else Block</h4>
    <h4>Else Block</h4>
</ng-template>